<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOC.Local.Gyzl.AppointPlatForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SOC.Local.Gyzl.AppointPlatForm.Properties.Settings>
            <setting name="SOC_Local_Gyzl_AppointPlatForm_RHINCardServiceImplService_RHINCardServiceImplService"
                serializeAs="String">
                <value>http://166.166.166.151:8901/rhin_card/ws/CardService</value>
            </setting>
            <setting name="SOC_Local_Gyzl_AppointPlatForm_AppointmentService_AppointmentService"
                serializeAs="String">
                <value>http://166.166.166.151:8085/AppointmentService.asmx</value>
            </setting>
        </SOC.Local.Gyzl.AppointPlatForm.Properties.Settings>
    </applicationSettings>
</configuration>