<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="KillProcess" value="His|WinForms.MQClient" />
  <add key="ExeFilePath" value="\HIS.vbs" />
  <add key="UpdateTime" value="2022-05-23 17:49:04" />
  <add key="ExpString" value="" />
  <add key="PSW" value="eBtR5GnJtWoCYydbJCs8zA==" />
  <add key="DEALUP" value="0" />
  <add key="VERSION" value="HIS5.0" />
  <!--value if 1 auto down load files  else maintenance files -->
  <add key="DOWNLOAD" value="1" />
</configuration>