<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <!--设置Log4Net节解析器-->
<sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
    <!--设置远程访问的配置参数节解析器-->
    <section name="remotingSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="VersionNumber" value ="5.01.110318.000010.C"/>
    <!--1 东软蓝 2 东软青 3 默认值-->
    <add key="Theme" value="1"/>
    <add key="Language" value="Default Language"/>
    <add key="DebugLevel" value="0"/>
  </appSettings>

  <common>
    <!--Log4Net基本配置-->
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Conf/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <!--Spring.NET解析器-->
    <parsers>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
      <parser type="Spring.ServiceModel.Config.WcfNamespaceParser, Spring.Services" />
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services" />
    </parsers>
    <!--Spring.NET上下文-->
    <context>
      <!--引用Context文件，Context文件存放基本的对象配置-->
      <resource uri="~/Conf/Context.xml" />
    </context>
  </spring>

  <!--远程访问的配置参数-->
  <remotingSettings>
    <add key="remoting.protocol" value="tcp"/>
    <add key="remoting.host" value="172.28.99.97"/>
    <add key="remoting.port" value="8005"/>
  </remotingSettings>
</configuration>