<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FS.HISFC.Components.Account.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FS.HISFC.Components.Account.Properties.Settings>
            <setting name="HISFC_Components_Account_RHINCardServiceImplService_RHINCardServiceImplService"
                serializeAs="String">
                <value>http://166.166.166.151:8901/rhin_card/ws/CardService</value>
            </setting>
        </FS.HISFC.Components.Account.Properties.Settings>
    </applicationSettings>
</configuration>