<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoShanYDSI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FSYDdemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <FoShanYDSI.Properties.Settings>
            <setting name="FSYDdemo_WebReference_myWebService1" serializeAs="String">
                <value>http://128.111.5.60:9082/Service1.asmx</value>
            </setting>
        </FoShanYDSI.Properties.Settings>
        <FSYDdemo.Properties.Settings>
            <setting name="FSYDdemo_WebReference_myWebService1" serializeAs="String">
                <value>http://128.111.5.60:9082/Service1.asmx</value>
            </setting>
        </FSYDdemo.Properties.Settings>
    </applicationSettings>
</configuration>