
--非药品
SELECT t.PACT_CODE,t.HIS_CODE,t.HIS_NAME,t.CENTER_CODE,t.CENTER_NAME,
       t.CENTER_ITEM_GRADE,t.CENTER_PRICE,t.CENTER_SPECS,t.CENTER_MEMO
FROM FIN_COM_COMPARE t
WHERE t.PACT_CODE = '99'


--药品
SELECT t.PACT_CODE,t.HIS_CODE,t.CENTER_CODE,t.CENTER_NAME,
       t.CENTER_ITEM_GRADE,t.CENTER_SPELL,t.HIS_NAME,t.CENTER_DOSE,
       t.CENTER_SPECS,t.HIS_SPELL,t.HIS_WB_CODE,t.CENTER_PRICE,t.CENTER_MEMO
FROM FIN_COM_COMPARE t
WHERE t.PACT_CODE = '99'

