﻿<?xml version="1.0" encoding="utf-8"?>
<HD.Report>
   <entReportSQL>
      <CalcName>报卡</CalcName>
      <SQL><![CDATA[select rownum as 序号,
       a.patient_name as 患者姓名, --患者姓名
       a.patient_parents as 患者家长姓名, --患者家长姓名
       a.Patient_Id as 身份证号, --身份证号
       decode(a.sex, 'M', '男', 'F', '女') as 性别, --性别
       a.birthday as 出生日期, --出生日期
       a.age as 年龄, --年龄
       a.work_place as 患者职业单位, --患者职业单位
       a.telephone as 联系电话, --联系电话
              a.home_place as 现住详细地址, --现住详细地址
       decode((select c.Name
                From COM_DICTIONARY c
               where c.code = a.patient_profession
                 and c.type = 'PATIENTJOB'),
              '其他',
              a.extend_info2,
              (select c.Name
                 From COM_DICTIONARY c
                where c.code = a.patient_profession
                  and c.type = 'PATIENTJOB')) as 职业, --职业
              a.infect_date as 发病日期, --发病日期
       a.diagnosis_date as 诊断时间, --诊断时间
       a.disease_name as 疾病名称, --疾病名称
             fun_get_employee_name(a.report_doctor) as 填卡医生,
                    a.extend_info3 as 备注
  From met_inf_report a
       where  a.report_date  >=TO_DATE('2015-01-30 00:00:00','yyyy-mm-dd hh24:mi:ss')
        and  a.report_date  <=TO_DATE('2015-01-30 23:59:59','yyyy-mm-dd hh24:mi:ss')]]></SQL>
      <ExecType>0</ExecType>
      <SheetViewIndex>0</SheetViewIndex>
      <NeedSumCol />
      <AddDataType>0</AddDataType>
      <BeginRow>3</BeginRow>
      <BeginCol>0</BeginCol>
      <BeginCellTag />
      <IsSumCol>False</IsSumCol>
      <IsSumRow>False</IsSumRow>
      <IsOnlySQL>False</IsOnlySQL>
      <IsStop>False</IsStop>
   </entReportSQL>
   <QueryCondition>
      <Q0 QcType="FS.FrameWork.HDLibrary.Controls.Report.QueryConditionDate">77u/PFF1ZXJ5Q29uZGl0aW9uRGF0ZSB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEv
WE1MU2NoZW1hLWluc3RhbmNlIiB4bWxuczp4c2Q9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1M
U2NoZW1hIj48TGFiZWxUZXh0PuW8gOWni+aXpeacnzwvTGFiZWxUZXh0PjxEYXRlRm9ybWF0Pnl5
eXktTU0tZGQgSEg6bW06c3M8L0RhdGVGb3JtYXQ+PERhdGVEZWZhdWx0PuW9k+WkqTwvRGF0ZURl
ZmF1bHQ+PFRpbWVEZWZhdWx0PumbtueCuTwvVGltZURlZmF1bHQ+PERhdGVEZWZhdWx0Q2FsY1Vu
aXQ+5LiN5aSE55CGPC9EYXRlRGVmYXVsdENhbGNVbml0PjxEYXRlRGVmYXVsdENhbGNOdW0+MDwv
RGF0ZURlZmF1bHRDYWxjTnVtPjxTaG93Q2hlY2tCb3g+ZmFsc2U8L1Nob3dDaGVja0JveD48L1F1
ZXJ5Q29uZGl0aW9uRGF0ZT4=</Q0>
      <Q1 QcType="FS.FrameWork.HDLibrary.Controls.Report.QueryConditionDate">77u/PFF1ZXJ5Q29uZGl0aW9uRGF0ZSB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEv
WE1MU2NoZW1hLWluc3RhbmNlIiB4bWxuczp4c2Q9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1M
U2NoZW1hIj48TGFiZWxUZXh0Pue7k+adn+aXpeacnzwvTGFiZWxUZXh0PjxEYXRlRm9ybWF0Pnl5
eXktTU0tZGQgSEg6bW06c3M8L0RhdGVGb3JtYXQ+PERhdGVEZWZhdWx0PuW9k+WkqTwvRGF0ZURl
ZmF1bHQ+PFRpbWVEZWZhdWx0PuW7v+S4ieeCueS6lOWNgeS5neWIhuS6lOWNgeS5neenkjwvVGlt
ZURlZmF1bHQ+PERhdGVEZWZhdWx0Q2FsY1VuaXQ+5LiN5aSE55CGPC9EYXRlRGVmYXVsdENhbGNV
bml0PjxEYXRlRGVmYXVsdENhbGNOdW0+MDwvRGF0ZURlZmF1bHRDYWxjTnVtPjxTaG93Q2hlY2tC
b3g+ZmFsc2U8L1Nob3dDaGVja0JveD48L1F1ZXJ5Q29uZGl0aW9uRGF0ZT4=</Q1>
   </QueryCondition>
</HD.Report>