<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  
  <!--广州医保设置-->
  <GunagZhouSI>
    <Server>
      <SIServer>packet size=4096;user id=yy006181;data source=192.168.34.11;persist security info=True;initial catalog=yy006181;password=yy006181</SIServer>
    </Server>
  </GunagZhouSI>
  
  <!--广州医保设置-->
  <GunagZhouSIAPI>
      <Connection>
          <!--医保中心代码-->
          <CenterCode>620013</CenterCode>
          <!--医院编码-->
          <HospitalCode>006181</HospitalCode>
          <!--医保中心代码-->
          <Server>http://192.168.34.11/HygeiaWebService/web/ProcessAll.asmx</Server>
          <Port>7001</Port>
          <Servlet>hygeia</Servlet>
          <UserID>006181</UserID>
          <Password>7406D4927E</Password>
      </Connection>
  </GunagZhouSIAPI>  
  
</configuration>